# Preprocesamiento

## Cargar librerías y datos

Importar librerías

In [34]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

%reload_ext autoreload
%autoreload 2

%matplotlib inline

pd.set_option("display.max_columns", 50)

Cargar dataset

In [35]:
# Ubicación del dataset
location_df_train='Datasets/train.csv'
location_df_test='Datasets/test_x.csv'

# Llamar los datos en las variables
df_train=pd.read_csv(location_df_train)
df_test= pd.read_csv(location_df_test)

Mostrar 5 primeros registros

In [36]:
df_train.head()

,Id,A,B,C,D,E,F,G,H,I,J,K,L,M,N,O,P,Q,R,S,T,U
0,0,44,tecnico,divorciado,curso_profesional,no,no,si,telefono,junio,martes,50,2,999,0,inexistente,1.4,94.465,-41.8,4.961,5228.1,no
1,1,30,administrador,soltero,grado_universitario,no,no,si,celular,julio,martes,135,2,999,0,inexistente,1.4,93.918,-42.7,4.961,5228.1,no
2,2,41,administración,casado,secundaria_completa,valor_que_falta,no,no,celular,mayo,martes,256,1,999,0,inexistente,-1.8,92.893,-46.2,1.291,5099.1,no
3,3,31,trabajador_industria,soltero,primaria_4_grado,valor_que_falta,si,no,celular,mayo,viernes,73,1,999,0,inexistente,-1.8,92.893,-46.2,1.250,5099.1,no
4,4,35,empleado_ por_cuenta_propia,casado,grado_universitario,no,si,no,celular,julio,jueves,50,1,999,0,inexistente,1.4,93.918,-42.7,4.958,5228.1,no

In [37]:
df_test.head()

,Id,A,B,C,D,E,F,G,H,I,J,K,L,M,N,O,P,Q,R,S,T
0,0,30,trabajador_industria,casado,primaria_3_grado,no,si,no,celular,mayo,viernes,487,2,999,0,inexistente,-1.8,92.893,-46.2,1.313,5099.1
1,1,39,servicios,soltero,secundaria_completa,no,no,no,telefono,mayo,viernes,346,4,999,0,inexistente,1.1,93.994,-36.4,4.855,5191.0
2,2,25,servicios,casado,secundaria_completa,no,si,no,telefono,junio,miercoles,227,1,999,0,inexistente,1.4,94.465,-41.8,4.962,5228.1
3,3,38,servicios,casado,primaria_3_grado,no,valor_que_falta,valor_que_falta,telefono,junio,viernes,17,3,999,0,inexistente,1.4,94.465,-41.8,4.959,5228.1
4,4,47,administrador,casado,grado_universitario,no,si,no,celular,noviembre,lunes,58,1,999,0,inexistente,-0.1,93.200,-42.0,4.191,5195.8

En ambos datasets se dropea el 'id'

In [38]:
df_train.drop(columns='Id',inplace=True)
df_test.drop(columns='Id',inplace=True)

Se renombran las columnas para un mejor entendimiento de los datos

In [39]:
# Nombres de las columnas para los dataset de train y test
column_names_train={'A':'EDAD',
                  'B':'TRABAJO',
                  'C':'ESTADO_CIVIL',
                  'D':'EDUCACION',
                  'E':'CREDITO_POR_DEFECTO',
                  'F':'PRESTAMO_VIVIENDA',
                  'G':'PRESTAMO_PERSONAL',
                  'H':'CONTACTO',
                  'I':'MES',
                  'J':'DIA',
                  'K':'DURACION',
                  'L':'CANT_CONTACT_REALIZADOS',
                  'M':'CANT_DIAS_ULT_CONTACTO',
                  'N':'CANT_CONTACT_PREV_REALIZADOS',
                  'O':'RESULT_CAMP_ANTERIOR',
                  'P':'TASA_VARIA_EMPLEO',
                  'Q':'INDICE_PREC_CONSUMIDOR',
                  'R':'INDICE_CONF_CONSUMIDOR',
                  'S':'TASA_INT_3_MESES',
                  'T':'CANT_EMPLEADOS',
                  'U':'TARGET'}
column_names_test=dict(list(column_names_train.items())[:-1])       

# Cambiar los nombres de las columnas de los datasets de train y test
df_train.rename(columns=column_names_train,inplace=True)
df_test.rename(columns=column_names_test,inplace=True)

# Mostrar el dataset de train (5 primeros registros) para verificar el cambio
df_train.head()

,EDAD,TRABAJO,ESTADO_CIVIL,EDUCACION,CREDITO_POR_DEFECTO,PRESTAMO_VIVIENDA,PRESTAMO_PERSONAL,CONTACTO,MES,DIA,DURACION,CANT_CONTACT_REALIZADOS,CANT_DIAS_ULT_CONTACTO,CANT_CONTACT_PREV_REALIZADOS,RESULT_CAMP_ANTERIOR,TASA_VARIA_EMPLEO,INDICE_PREC_CONSUMIDOR,INDICE_CONF_CONSUMIDOR,TASA_INT_3_MESES,CANT_EMPLEADOS,TARGET
0,44,tecnico,divorciado,curso_profesional,no,no,si,telefono,junio,martes,50,2,999,0,inexistente,1.4,94.465,-41.8,4.961,5228.1,no
1,30,administrador,soltero,grado_universitario,no,no,si,celular,julio,martes,135,2,999,0,inexistente,1.4,93.918,-42.7,4.961,5228.1,no
2,41,administración,casado,secundaria_completa,valor_que_falta,no,no,celular,mayo,martes,256,1,999,0,inexistente,-1.8,92.893,-46.2,1.291,5099.1,no
3,31,trabajador_industria,soltero,primaria_4_grado,valor_que_falta,si,no,celular,mayo,viernes,73,1,999,0,inexistente,-1.8,92.893,-46.2,1.250,5099.1,no
4,35,empleado_ por_cuenta_propia,casado,grado_universitario,no,si,no,celular,julio,jueves,50,1,999,0,inexistente,1.4,93.918,-42.7,4.958,5228.1,no

## Imputacion de valores perdidos

Ver tamaño de lo datasets

In [40]:
df_train.shape,df_test.shape

((32538, 21), (12769, 20))

Verificar valores perdidos de train